// .backg {
//     display:flex;
//     justify-content: center;
//     background-color: #050216;
    
    
// }

// .bgcolor {
    
// }

.index-body {
    background-image: url('../img/backOFF!!!.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    margin-top:45%;
}

#gabinete {
    position: absolute;
    top: 10%;
    left: 30%;
    right: 30%;
    bottom: 10%;
    height: 100%;
    cursor: url('pointer.png'), auto;
}

//050218 1
//050216 
//0a011a
//01000F
//0c091e